.game{
   margin-top: 50px;
}

.game h1{
   font-size: 2.5rem;
}

.points span{
   font-weight: bold;
}

.tip span{
   color: #1646a0;
}

.container-head{
   display: flex;
   width: 50%;
   align-items: center;
   justify-content: space-around;
   margin: auto;
}

.container-head p{
   font-size: 20px;
   font-weight: bold;
}

.wordContainer{
   margin: 0.8em;
   padding: 0.8em;
   border: 20px solid #1646a0;
   display: flex;
}

.letter, .blankSquare{
   font-size: 70px;
   line-height: 1.5;
   border: 3px solid #000;
   height: 100px;
   width: 100px;
   text-transform: uppercase;
   background-color: #fff;
   color: #000;
   font-weight: bold;
}

.letterContainer{
   margin-bottom: 1.2em;
}

.letterContainer form{
   display: flex;
   align-items: center;
   justify-content: center;
}

.letterContainer input{
   height: 50px;
   width: 50px;
   font-size: 2em;
   text-align: center;
   margin-right: 1em;
}

@media (min-width : 360px) and (max-width: 600px) {
   .letter, .blankSquare{
      width: 50px;
      height: 50px;
   }
   .wordContainer{
      padding: auto;
      align-items: center;
      justify-content: center;
   }
}